@{
    ViewData["Title"] = "Kontakt";
}
<h1>Kontakt</h1>

<p><b>e-mail:</b> vedran.obranovic@gmail.com</p>

<p>Disclaimer: Ova aplikacija i sadržaj njenih stranica se koristi isključivo u edukativne svrhe, te je moguće da se koristi sadržak koji nije izvorno vlasništvo autora.<br />
    U niti jednom trenutnku se neće koristiti u komercijalne svrhe.
</p>
