@{
    ViewData["Title"] = "Cvjećarnica Zvončica";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli u Cvjećarnicu Zvončica</h1>
    <img src="~/Images/Pocetna.jpg" alt="Cvjećarnica Zvončica" class="rounded" height="550" width="550">
</div>






