@model List<Kategorija>

@{
    ViewData["Title"] = "Kategorije";
}

<h1>Popis Postojećih Kategorija Proizvoda</h1>

<p>
    <a asp-action="Kreiraj" class="btn btn-success">Kreiraj Novu Kategoriju</a>
</p>

@if (Model.Count > 0)
{
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Naziv</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        <a asp-action="Uredi" asp-route-id="@item.Id" class="btn btn-secondary">Uredi</a> |
                        <a asp-action="Brisi" asp-route-id="@item.Id" class="btn btn-danger">Briši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Trenutno u bazi ne postoji kreirana niti jedna kategorija.</p>
}

