@model Cvjećarnica_Zvončica.Models.Proizvod

@{
    ViewData["Title"] = "Kreiraj Proizvod";
}

<h1>Kreiranje Novog Proizvoda</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Kreiraj" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kolicina" class="control-label"></label>
                <input asp-for="Kolicina" class="form-control" />
                <span asp-validation-for="Kolicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijena" class="control-label"></label>
                <input asp-for="Cijena" class="form-control" />
                <span asp-validation-for="Cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <textarea class="form-control" asp-for="Opis" rows=5></textarea>                
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="SlikaFile">Slika</label>
            <input asp-for="SlikaFile" class="form-control" accept="image/*" />
            </div>
            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Popis Svih Proizvoda</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
