
@{
    ViewData["Title"] = "Administracija";
}

<h1>Početna stranica za administraciju</h1>

<div class="row">
    <div class="col-md-4">
        <a asp-action="Korisnici" class="btn btn-primary">Korisnici</a>
    </div>
    <div class="col-md-4">
        <a asp-action="Proizvod" class="btn btn-primary">Proizvodi</a>
    </div>
    <div class="col-md-4">
        <a asp-action="Kategorija" class="btn btn-primary">Kategorije</a>
    </div>
</div>

