@model List<Cvijet>
@{
    ViewData["Title"] = "Popis Dostupnog Cvijeca";
}

<h1>Popis Dostupnog Cvijeca</h1>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Boja</th>
            <th>Cijena</th>
            <th>Kolicina Na Stanju</th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var cvijet in Model.Distinct())
        {
            <tr>
                <td>@cvijet.Naziv</td>
                <td>@cvijet.Boja</td>
                <td>@cvijet.Cijena po komadu kn</td>
                <td>@Model.Count(i => i.Naziv == cvijet.Naziv && i.Boja == cvijet.Boja)</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="DodajNoviCvijetUBazu">Dodaj novi cvijet u bazu</a>

